<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsqix.dongqing.gank">

    <uses-sdk tools:overrideLibrary="com.youku.playerui" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Share SDK start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105807419" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Share SDK end -->

        <!--渠道-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e5617a3171e518783792ffc591a130a4" />
        <!--优酷视频-->
        <meta-data
            android:name="app_key"
            android:value="655690f8143987c6" />
        <!--百度市场 start-->
        <meta-data
            android:name="BDAPPID"
            android:value="9095740" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="OfGyuqidZpSGwW4NhoCg4Bhk31F3jQRU" />

        <!--<activity-->
            <!--android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="sensor"-->
            <!--android:theme="@style/bdp_update_dialog_style_fullscreen" />-->
        <!--<receiver-->
            <!--android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />-->
                <!--<action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />-->
                <!--<action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />-->
                <!--<action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--百度市场 end-->
        <!--360市场 start-->
        <activity
            android:name="com.qihoo.appstore.common.updatesdk.lib.UpdateTipDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false" />
        <!--360市场 end-->
        <!--应用宝 start-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jsqix.dongqing.gank.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--应用宝 end-->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/AppTheme.Menu" />
        <activity android:name=".PhotoViewActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SetActivity" />
        <activity
            android:name=".YoukuPlayerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity android:name=".WeatherActivity" />
    </application>

</manifest>